

ont* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  header {
    width: 100%;
    background-color: yellowgreen;
    box-shadow: 10px 2px 24px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 2px 24px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 2px 24px 0px rgba(0, 0, 0, 0.75);
  }
  
  a {
    margin: 10px;
  }
  
  #logo {
    margin-left: 90%;
    margin-top: -2%;
  }
  
  #first_section {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  
  footer {
    margin-top: 3%;
    text-align: center;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 3px;
  }
  
  #second_section {
    background-color: gray;
    padding: 20px;
    overflow: hidden; 
    text-align: center;
  }
  
  #second_section img {
    width: 20rem;
    height: 100%;
    vertical-align: middle; 
    margin-left: 200px ;
    border-radius: 30%;

  }
  
  #parrafo1 {
    display: inline-block;
    vertical-align: middle; /* Centrar verticalmente el párrafo */
    width: 19rem;
    font-size: 30px;
    margin-left: 250px;


  }

  /* ABOUT US */

  section > article {
    display: table; /* Utiliza display: table en lugar de inline-block */
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
  }
  
  section > article > img {
    width: 20rem;
    height: 20rem;
    margin-left: 30px;
    display: table-cell; /* Utiliza display: table-cell para centrar verticalmente */
    vertical-align: middle;
    margin-bottom: 10px;
    
    border-radius: 20%;
  }
  section > article > img:first-child{
    margin-top: 50px;
  }
  section > article > p {
    display: table-cell;
    width: 40%;
    margin-left: 8rem;
    text-align: center;
    vertical-align: middle;
    margin-right: 20px; /* Agrega margen en el lado derecho de los párrafos */
  }
  
  
                      /*CONTACT  */

  